body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #f4f6f9; 
    font-family: Arial, sans-serif;
    background: url(https://i1.sndcdn.com/avatars-000144785365-f2e5d4-t500x500.jpg);
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; 
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #007bff;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    display: block;
}

/* Campos de entrada */
input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box; 
    font-size: 16px;
}

/* Botón de enviar */
button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3; 
}

/* Estilo para inputs en foco */
input:focus {
    border-color: #007bff; 
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}
